body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(315deg, rgb(177, 74, 168) 3%, rgb(81, 142, 203) 38%, rgb(200, 211, 133) 68%, rgb(82, 180, 176) 98%);
  animation: gradient 16s ease infinite;
  background-size: 400% 400%;
  overflow: hidden;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.page{
  background-color: #aafdfb;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 12px 12px 14px rgb(92, 237, 240, 0.64);
}
.page h1{
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: #570a8a;
  font-weight: bold;
}
.page h2{
  text-align: center;
  font-size: 27px;
  font-family: sans-serif;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  letter-spacing: 3.6px;
}
.page h4{
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  color: #f42b15;
}
.page input{
    border: 2px solid #ddf3fc;
    border-radius: 4px;
    display: block;
    font-size: 19px;
    padding: 10px;
    width: 90%;
    cursor: pointer;
}
.page input:focus{
  outline: none;
}
.page input:hover{
  box-shadow: 0px 5px 12px #68def0;
  font-size: 20px;
  letter-spacing: 1.2px;
}
.page button{
  padding: 10px;
  width: 48%;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  letter-spacing: 1.1px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  box-shadow: 12px 12px 24px rgba(251, 244, 252, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
}
#refresh-btn{
   background: linear-gradient( #4dc8f5, #c9ecfd, #e6e8e3);
}
#check-btn{
   background: linear-gradient( #6bc9eb, #dcf4ee, #e6e8e3);
}
#refresh-btn:hover{
   color: #055f66;
   transform: translateY(-9px);
   box-shadow: 0px 1px 12px #dd3ffd;
   background: linear-gradient( #e664f7, #e6e8e3);
   font-size: 24px;
   letter-spacing: 1.2px;
}
#check-btn:hover{
   color: #5b0872;
   transform: translateY(-9px);
   box-shadow: 0px 1px 12px #66f58c;
   background: linear-gradient( #4cf6d9, #e6e8e3);
   font-size: 24px;
   letter-spacing: 1.2px;
}